.aboutMeMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.aboutMeButton {
    background: none;
    border: solid;
    border-width: 0.25vw;
    border-radius: 6px;
    border-color: white;
    color: white;
    transition: color 0.5s, border-color 0.5s;
    cursor: pointer;
}

.aboutMeContent {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
}

.aboutMeContent2 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.interests {
    align-items: flex-start;
}

.inputBox {
    border-radius: 6px;
    border: solid;
    border-color: var(--orangeColor);
    width: 30vw;
    height: 5vh;
}

.message {
    border-radius: 6px;
    border: solid;
    border-color: var(--orangeColor);
    width: 30vw;
    height: 15vh;
}

.circle {
    width: 10vw;
    height: 18vh;
    border-radius: 50%;
    background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 100%);
    text-align: center;
}

.dividerLine {
    width: 80vw;
    height: 1vh;
    background-color: #ffae00;
}

.rightItem {
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    margin-top: 0.25vw;
}

.skillCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 0.25vw;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.aboutMeSection {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    width: 80vw;
}

.footer {
    background-image: linear-gradient(90deg, #fa8128, #ff9400, #fa8128);
    height: 5vh;
    width: 100vw;
}

.titles {
    color: #ffae00;
    align-self: center;
    justify-self: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100vw;
    height: 20vw;
    color: var(--orangeColor);
    background-color: rgb(80, 80, 80);
}

.aboutMePicture {
    width: 22.5vw;
    height: auto;
}