.homeMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    width: 40vw;
    height: auto;
}

.homepageNav {
    width: 30vw;
    height: 60vh;
    animation-name: fadeIn;
    animation-duration: 3s;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    place-items: center;
    margin-top: 2vw;
    border: none;
    border-radius: 6px;
    border-width: 0.75vw;
    box-shadow: 0px 0px 10px 4px;
    background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 100%);
    margin-bottom: 3vh;
    transition: transform 0.5s, box-shadow 0.5s;
}

.homepageNav:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px;
}

.homepageNav2 {
    width: 100vw;
    height: 80vh;
    animation-name: fadeIn;
    animation-duration: 3s;
    display: flex;
    flex-direction: row;
    place-items: center;
    margin-top: 2vw;
    border: none;
    flex-wrap: wrap;
}

.navText {
    font-size: calc(6px + 2.25vw);
    justify-self: flex-start;
    align-self: flex-end;
    margin-bottom: 10vw;
    color: white;
    width: 29vw;
}

.otherTitle {
    font-size: calc(6px + 2.25vw);
}

.column {
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: 15vh;
    width: 29vw;
    color: white;
    font-size: calc(6px + 2.25vw);
}

.otherPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    overflow-x: auto;
    gap: 2.5vw;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(80, 80 ,80);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.cardTitle {
    justify-self: center;
    align-self: flex-start;
    margin: 1vw;
    font-size: 1.5rem;
}

.cardDescript {
    font-size: 1.2rem;
}

@media  screen and (max-width: 500px) {
    .cardTitle {
        font-size: 1.2rem;
    }

    .cardDescript {
        font-size: 0.75rem;
    }

    .homepageNav {
        width: 60vw;
        height: 30vh;
    }

    /* .otherPages {
        flex-direction: column;
    } */
}

@keyframes fadeIn{
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}