html {
    scroll-behavior: smooth;
}

.divTest1 {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 85vw;
}

.divTest2 {
    display: flex;
    z-index: 1;
    transform: skew(-20deg);
    background-color: #2AF598;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.allSkillsWrapper {
    gap: 5vw;
}

.testNewIdea {
    background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 100%);
}

.skillsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40vw;
    transition: width 0.5s;
}

.skillsContent:hover .moreSkillContent {
    display: flex;
    flex-direction: row;
    opacity: 100%;
    animation-name: fadeIn;
    animation-duration: 2s;
    flex-wrap: wrap;
}

.skillsContent:hover {
    width: 40vw;
}

.skillsContent:hover .testNewIdea{
    transform: rotate(0deg);
}

.moreSkillContent {
    display: flex;
    flex-direction: row;
    opacity: 100%;
    animation-name: fadeIn;
    animation-duration: 2s;
    flex-wrap: wrap;
    margin: 2vw;
    gap: 1vw;
}

.skillsWrapper {
    /* background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 100%); */
    border-radius: 12px;
    border: solid white;
    /* background-color: rgba(80, 90, 80, 90%); */
    background: linear-gradient(30deg, hsla(133, 62%, 55%, 1) 0%, hsla(196, 93%, 47%, 1) 100%);
}

.homeMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    width: 40vw;
    height: auto;
    display: flex;
    animation-name: bounce;
    animation-duration: 2s;
}

.homepageNav {
    width: 30vw;
    height: 60vh;
    animation-name: fadeIn;
    animation-duration: 3s;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    place-items: center;
    margin-top: 2vw;
    border: none;
    border-radius: 6px;
    border-width: 0.75vw;
    box-shadow: 0px 0px 10px 4px;
    background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 40%);
    margin-bottom: 3vh;
    transition: transform 0.5s, box-shadow 0.5s;
}

.homepageNav:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px;
}

.titleText {
    animation-name: fly-in;
    animation-duration: 2s;
    color: white;
}

.homepageNav2 {
    width: 80vw;
    height: 80vh;
    /* animation-name: fadeIn;
    animation-duration: 3s; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    border: none;
    flex-wrap: wrap;
}

.navText {
    font-size: calc(6px + 2.25vw);
    justify-self: flex-start;
    align-self: flex-end;
    margin-bottom: 10vw;
    /* color: white; */
    width: 29vw;
    text-shadow: 0px 0px 10px grey;
    color: #ff9400;
}

.otherTitle {
    font-size: calc(6px + 2.25vw);
    text-shadow: 0px 0px 10px grey;
    color: #ff9400;
}

.subtitle {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    width: 45vw;
    color: white;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.leftAlign {
    text-align: left;
}

.gap {
    gap: 2vw;
}

.gap2 {
    gap: 10vw;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    /* margin-top: 15vh; */
    width: 80vw;
    /* color: white; */
    font-size: calc(6px + 2.25vw);
    text-shadow: 0px 0px 10px grey;
    /* color: #ff9400; */
    /* color: #2AF598; */
    /* color: #77DD66; */
    color: #44D362;
}

.otherPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    overflow-x: auto;
    gap: 2.5vw;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(80, 80 ,80);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.cardTitle {
    justify-self: center;
    align-self: flex-start;
    margin: 1vw;
    font-size: 1.5rem;
}

.cardDescript {
    font-size: 1.2rem;
}

@media  screen and (max-width: 500px) {
    .cardTitle {
        font-size: 1.2rem;
    }

    .cardDescript {
        font-size: 0.75rem;
    }

    .homepageNav2 {
        width: 95vw;
        flex-direction: column-reverse;
    }

    .gap {
        width: 10vw;
    }

    .logo {
        width: 60vw;
    }

    /* .divTest1 {
        width: 95vw;
    } */

    .titleText {
        width: 85vw;
        display: flex;
        flex-direction: column;
    }

    .title {
        width: auto;
        align-self: flex-start;
    }

    .subtitle {
        width: auto;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fly-in {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

@keyframes bounce {
    0% {
        transform: translateX(-15vw);
    }

    25% {
        /* transform: scale(1.1); */
        transform: translateX(-15vw);
    }

    50% {
        transform: scale(1);
        transform: translateX(-15vw);
    }

    100% {
        
    }
}