:root {
  --noshow: none;
}

.currentProjects {
  display: block;
  animation-name: slide-in;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

.currentProjects2 {
  display: none;
  animation-name: slide-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.pastProjects {
  display: block;
  animation-name: slide-in;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

.pastProjects2 {
  display: none;
  animation-name: slide-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.portfolioMain {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 100vw;
}


@keyframes fadeIn{
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%;
  }
}

img {
  width: 20vw;
  height: 30vh;
  border-radius: 6px;
}

.portfolioButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 30vw;
}

.portfolioButton {
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: calc(20px + 0.6vh);
  transition: background-color .5s, border-radius .5s;
}

.portfolioButton2 {
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  cursor: pointer;
  background-color: #fa665c;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: calc(20px + 0.6vh);
  transition: background-color .5s, border-radius .5s;
}

.portfolioButton:hover {
  background-color: #fa665c;
  border-radius: 6px;
}

.pageTitle {
  color: #ffae00;
}

@keyframes slide {
  0% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  25%,
  75%,
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
      transform: translateY(100vh);
      opacity: 0%;
  }

  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}