:root{
    --orangeColor: #ff9400;
    --mainGreenColor: #44D362;
    --mainBlueColor: #08AEEA;
    --otherMainBlue: #0483ea;
    --finalBlue: #4f9cdc;
}

.defaultPage {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    /* background: linear-gradient(0deg, hsl(194, 91%, 44%) 0%, hsl(201, 74%, 47%) 100%); */
    /* background-color: rgb(80, 80, 80); */
    background-color: rgb(43, 77, 109);
}