:root{
    --orangeColor: #ff9400;
}

.defaultPage {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(0deg, hsl(194, 91%, 44%) 0%, hsl(201, 74%, 47%) 100%);
}