.defaultPage {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-image: linear-gradient(0deg, #fa8128, #ff9400, #fda172);
}