:root {
    --blueColor: #3fdb92;
    --burntOrange: #ff6f00;
    --blueBackgroundColor: hsl(201, 74%, 47%);
}

.navButton {
    width: calc(14px + 10vw);
    height: calc(4px + 4vh);;
    background: none;
    border-radius: 4px;
    border: 0.15vw solid white;
    cursor: pointer;
    color: white;
    font-size: calc(10px + 0.6vh);
    transition: color white;
    transition-duration: 0.5s;
    place-items: center;
    font-weight: bolder;
    transition: background-color 0.5s;
}

.navButtonHome {
    background: none;
    width: 7vw;
    height: 4vh;
    border: solid;
    border-width: 0.25vw;
    border-radius: 6px;
    border-color: white;
    color: white;
    margin-left: 1.5vw;
    margin-bottom: 1.5vh;
    transition: background-color 0.5s;
    cursor: pointer;
}

.navButton:hover {
    background-color: var(--blueBackgroundColor);
}

.navButtonHome:hover {
    background-color: var(--blueBackgroundColor);
}