.navButton {
    width: calc(12px + 10vw);
    height: calc(2px + 4vh);;
    background: none;
    border-radius: 4px;
    border: 0.15vw solid #ff9400;
    cursor: pointer;
    color: #ff9400;
    font-size: calc(8px + 0.6vh);
    transition: color white;
    transition-duration: 0.5s;
    place-items: center;
    font-weight: bolder;
}

.navButtonHome {
    background: none;
    width: 7vw;
    height: 4vh;
    border: solid;
    border-width: 0.25vw;
    border-radius: 6px;
    border-color: #3478bc;
    color: #3478bc;
    margin-left: 1.5vw;
    margin-bottom: 1.5vh;
    transition: color 0.5s, border-color 0.5s;
}

.navButton:hover {
    color: white;
    border-color: white;
}

img {
    width: 30vw;
    height: 30vh;
}