:root {
    --blueColor: #3fdb92;
    --burntOrange: #ff6f00;
    --blueBackgroundColor: hsl(201, 74%, 47%);
    --otherBlueBackgroundColor: rgb(2, 100, 112);
}

.nav-button {
    height: calc(4px + 4vh);;
    background: none;
    border-radius: 4px;
    border: 0.15vw solid #44D362;
    cursor: pointer;
    color: #44D362;
    font-size: 1rem;
    transition: color white;
    transition-duration: 0.5s;
    place-items: center;
    font-weight: bolder;
    transition: background-color 0.5s, border-color 0.5s;
}

@media screen and (max-width: 600) {
    .nav-button {
        display: none;
    }
}

.nav-button:hover {
    /* background-color: var(--otherBlueBackgroundColor); */
    border-color: #08AEEA;
}