.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border-bottom: white;
    border-bottom-style: solid;
    gap: 1.5vw;
    width: 100vw;
    height: 10vh;
    background-color: white;
}

@keyframes colorTurn {
    0% {
        background-image: linear-gradient(0deg, #fa8128, #ff9400, #fda172, white);
    }

    1.5% {
        background-image: linear-gradient(7deg, #fa8128, #ff9400, #fda172, white);
    }

    3% {
        background-image: linear-gradient(15deg, #fa8128, #ff9400, #fda172, white);
    }

    6.25% {
        background-image: linear-gradient(23.5deg, #fa8128, #ff9400, #fda172, white);
    }

    10% {
        background-image: linear-gradient(30deg, #fa8128, #ff9400, #fda172, white);
    }

    12.5% {
        background-image: linear-gradient(45deg, #fa8128, #ff9400, #fda172, white);
    }

    25% {
        background-image: linear-gradient(90deg, #fa8128, #ff9400, #fda172, white);
    }

    50% {
        background-image: linear-gradient(180deg, #fa8128, #ff9400, #fda172, white);
    }

    51.5% {
        background-image: linear-gradient(187, #fa8128, #ff9400, #fda172, white);
    }

    54.5% {
        background-image: linear-gradient(194, #fa8128, #ff9400, #fda172, white);
    }

    56.75% {
        background-image: linear-gradient(204, #fa8128, #ff9400, #fda172, white);
    }

    60.75% {
        background-image: linear-gradient(211, #fa8128, #ff9400, #fda172, white);
    }

    63% {
        background-image: linear-gradient(226, #fa8128, #ff9400, #fda172, white);
    }

    67% {
        background-image: linear-gradient(250, #fa8121, #ff9400, #fda172, white);
    }

    75% {
        background-image: linear-gradient(270deg, #fa8128, #ff9400, #fda172, white);
    }

    100% {
        background-color: white;
    }
}