.navbar {
    animation-name: showNavBar;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom-style: solid;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom: 0.25vw white;
    gap: 1.5vw;
    width: 100vw;
    height: 10vh;
    /* background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 100%);
    background-color: #08AEEA; */
    /* background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 50%, #2AF598 100%); */
    background-color: rgba(80, 80, 80, 90%);
}

.navContent {
    width: 95vw;
}

.navLogo {
    width: 7vw;
    height: auto;
    justify-self: flex-start;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 7.5vh;
        gap: 7.5vw;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
}

@keyframes showNavBar{
    0% {
        transform: translateY(-20vh);
    }

    100% {
        transform: translateY(0vh);
    }
}