  .project-div {
    padding: 2vw;
    display: flex;
    flex-direction: row;
  }

  .persepctive-item:hover {
    /* border-color: #ff9400; */
    border-color: #44D362;
    /* background-color: rgb(2, 100, 112); */
    transform: scale(1.05);
    border-width: 0.25vw;
    box-shadow: 0px 0px 10px 10px #08AEEA;
  }

  .persepctive-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(80, 80, 80, .30);
    backdrop-filter: blur(20px);
    padding: 1vw;
    border-radius: 12px;
    gap: 2vw;
    width: 40vw;
    /* height: 35vw; */
    overflow: auto;
    flex-wrap: wrap;
    border: solid;
    border-color: white;
    transition: border-color 0.5s, transform 0.5s, background-color 0.5s, box-shadow 0.5s, border-width 0.5s;
  }

  .portfolio-pic {
    width: 16vw;
    height: 16vw;
    border-radius: 6px;
    transition: transform .5s;
  }

  .picture-div {
    display: flex;
    justify-content: center;
  }

  .project-name {
    font-size: calc(12px + 1vh);
    text-shadow: 0px 0px 10px grey;
    /* color: #ff9400; */
    /* color: #2AF598; */
    color: #44D362;
  }

  .project-description {
    width: 37vw;
    font-size: calc(10px + 0.6vh);
    /* color: #44D362; */
    color: white;
  }

  .skills-used {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5vw;
    width: 37vw;
  }

  .live-site-button {
    display: flex;
    background: none;
    height: 2vw;
    border-radius: 4px;
    border: 0.15vw solid #44D362;
    cursor: pointer;
    color: #44D362;
    font-size: 1rem;
    transition: color white;
    transition-duration: 0.5s;
    place-items: center;
    font-weight: bolder;
    transition: background-color 0.5s, box-shadow 0.5s;
    justify-self: flex-end;
    text-decoration: none;
  }

  .source-code-button {
    color: #08AEEA;
    border-color: #08AEEA;
    transition: box-shadow 0.5s;
  }

  .live-site-button:hover {
    box-shadow: 0px 0px 5px 5px white;
  }

  @media screen and  (max-width: 750px) {
    .live-site-button {
      font-size: 0.9rem;
      height: 5vw;
    }
  }

  @media  screen and (max-width: 500px) {
    .persepctive-item {
      flex-direction: column;
      width: 90vw;
      height: auto;
    }

    .project-description {
      width: 90vw;
    }

    .live-site-button {
      font-size: 0.9rem;
      height: 5vw;
    }

    .portfolio-pic {
      width: 20vw;
      height: 20vw;
    }
  }
