  .projectDiv {
    padding: 2vw;
  }

  /* .persepctiveItem:hover {
    border-color: #ff9400;
    background-color: rgb(2, 100, 112);
    transform: scale(1.05);
  } */

  .persepctiveItem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(80, 80, 80);
    border-radius: 12px;
    color: yellow;
    overflow-y: auto;
    gap: 5vw;
    width: 80vw;
    height: 40vh;
    overflow: auto;
    flex-wrap: wrap;
    border: solid;
    border-color: white;
    transition: border-color 0.5s, transform 0.5s, background-color 0.5s;
  }

  .hiddenContent {
    display: none;
    /* background-color: rgba(15, 228, 243, 0.25); */
    background: linear-gradient(180deg, hsla(4, 94%, 67%, 1) 0%, hsla(29, 86%, 52%, 1) 100%);
    color: yellow;
    width: 20vw;
    height: 24.5vw;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    padding: 3px;
  }

  .projectScript {
    display: flex;
    transition: all 0.5s;
  }

  .projectScript:hover {
    transform: scale(1.05);
  }

  .projectScript:hover .hiddenContent {
    animation-name: fade-in;
    animation-duration: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 100%;
  }

  .portfolioPic {
    width: 22.5vw;
    height: 24.5vw;
    border-radius: 6px;
    transition: transform .5s;
  }

  @media screen and (max-width: 600px) {
    .portfolioPic {
      width: 60vw;
      height: 45vh;
    }
  }

  .textTestDiv {
    font-size: calc(12px + 1vh);
    text-shadow: 0px 0px 10px grey;
    color: #ff9400;
  }

  .infoText {
    color: #2AF598;
    font-size: calc(10px + 0.6vh);
  }

  .titleColor {
    animation-name: fade-in;
    animation-duration: 0.5s;
    color: #2AF598;
    text-align: center;
    text-shadow: 0px 0px 10px grey;
  }

  .titleColor2  {
    color: #2AF598;
    text-align: center;
    text-shadow: 0px 0px 10px grey;
  }

  .projectScript:hover .titleColor {
    animation-name: fade-out;
    animation-duration: 0.5s;
    opacity: 0%;
  }

  .projectScript:hover .titleColor2 {
    animation-name: fade-in;
    animation-duration: 0.5s;
    opacity: 100%;
  }

  .otherTextColor {
    color: white;
    text-align: center;
  }

  @keyframes fade-out{
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fade-in{
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%;
  }
}