.skill-card {
        display: flex;
        width: 5vw;
        height: 5vw;
        /* background-color: white; */
        transition: background-color 1s;
        justify-content: center;
        overflow-y: hidden;
}

.skill-pic {
    height: 2vw;
    width: 2vw;
    border-radius: 6px;
}

@media screen and (max-width: 750px) {
    .skill-pic {
      width: 5vw;
      height: 5vw;
    }
  }
